.container {
  padding: 0 15px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem; /* Adds more space between elements */
  text-align: center;
  margin: 0 auto;
}

.name {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.surname {
  font-size: 3.5rem; /* Slightly larger surname */
  text-align: center;
}

.socialIcon {
  width: 50px; /* Slightly smaller to create subtle spacing */
  height: 50px;
  transition: transform 0.2s;
}

.socialIcon:hover {
  transform: scale(1.1);
}

.description {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* Resume Button Style */
.resumeButton {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 30px;
  width: 130px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  margin-top: 1.5rem;
}

.resumeButton:hover {
  transform: scale(1.05);
  background-color: #007bff; /* Blue background on hover */
  color: #000; /* Black text on hover */
}

.profileImage {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.themeIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s;
}

.themeIcon:hover {
  transform: rotate(15deg);
}
